body{
    background-color: cyan;
}

@keyframes slideIn {
    from {
        margin-left: -100%; /* Start off-screen to the left */
    }
    to {
        margin-left: 0; /* Slide in to the normal position */
    }
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    animation: slideIn 5s ease-in-out;
    
}
input{
    margin: 5px 0 0 0 ;
    background-color: white;
    border: solid 1px gainsboro;
    height: 20px;
}
#btn{
    width: 170px;
    border: none;
    background-color: brown;
    color: white;
}